.error-bdr {
    border: 1px solid red !important;
}

.text-decoration-line-through {
    text-decoration: line-through !important;
}

.image {
    max-width: 280px;
    max-height: 280px;
    margin: 0 auto;
    object-fit: contain;
}